* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ROBOTO", sans-serif;
}



.nav,
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #1e1f26;
  text-align: center;
  padding: 0 2em;
}

.nav h1,
.slider h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.3vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.5s ease;
  z-index: 3;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}
.nav h2,
.slider h2 {
  font-size: 1.7vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
}
.nav h3,
.slider h3 {
  font-size: 1.7vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  box-shadow: 5px 0px 20px rgba(0.5, 0.5, 0.5, 0.5);
  background: None;
  
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  position: fixed;
  top: 0;
}
.nav-container--top-second {
  position: fixed;
  top: 0;
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: gray;
  letter-spacing: 0.1rem;
  transition: all 0s ease;
  transition-color: 0.5s ease;

  font-size: 2vw;
}

.nav-tab:hover {
  color: #03dac6;
  border-radius: 30px 30px 0px 0px;
  background: #ff0266;
  border-color: #fff;

  transition: all 0s ease;

}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  background: #03dac6;
  transition: left 0.3s ease;
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}
@media (min-width: 800px) {
  .nav h1,
  .slider h1 {
    font-size: 5vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 3vw;
  }

  .nav-tab {
    font-size: 3vw;
  }
}

@media screen only (min-width: 360px) {
  .nav h1,
  .slider h1 {
    font-size: 5vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 3vw;
  }

  .nav-tab {
    font-size: 3vw;
  }
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.container-dark {
	display: block;
	position: relative;
	background: #272727;
	width: 80%;
	height: 80%;
	min-height: 480px;
	padding: 30px;
	display: flex;
	align-items: center;
  border-radius: 25px;
}
.card-about {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 16px;
	z-index: 10000;
	position: relative;
	flex: 5;
	max-width: 310px;
	font-weight: 400;
	color: #ccc;
	text-align: left;
	margin-top: -16px;
}
@media (max-width: 889px) {
	body {
		height: auto;
		min-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.main {
		height: auto;
		min-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.container-dark {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		min-height: 80%;
		padding: 60px 30px;
	}
	.card-about {
		order: 2;
		margin: 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.card-about .title {
	font-family: "Raleway", sans-serif;
  color: #fff;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	padding-bottom: 16px;
	letter-spacing: 1px;
  
}

.card-about .title::before {
	content: "";
	width: 50px;
	height: 2px;
	background: #444;
	position: absolute;
	display: flex;
	bottom: 0;
}
.container-info {
	position: absolute;
	bottom: 15px;
	left: 30px;
	color: #fff;
	display: flex;
	flex-direction: column;
}

.container-img {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 5;
	/*background: #171717;*/
	max-width: 510px;
	margin: 0 auto;
	padding: 10px;
}
@media (max-width: 400px) {
	.container-img {
		order: 1;
		margin-bottom: 25px;
	}
}

.container-img svg {
	width: 30%;
	min-width: 340px;
	height: auto;
}
/*
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	background: #121212;
}

body,
button,
h1 {
	
}

.main {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	background-size: cover;
	transition: 0.3 linear;
}







.card-about p {
	font-size: 14px;
	padding-right: 16px;
	margin-top: 16px;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
	color: #afafaf;
}

.card-about .group {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-top: 32px;
}

.card-about button {
	background: #373737;
	border: none;
	cursor: pointer;
	width: 70px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s linear;
}
.card-about button svg {
	stroke: #fff;
}
.card-about button:hover {
	filter: brightness(0.8);
}


.container-info span {
	font-weight: bold;
	letter-spacing: 1.7px;
}

.container-info .value {
	font-weight: 300;
	text-transform: capitalize;
	color: #999;
}







*/



/* CSS'S CLOCK */
.clock {
  height: 200px;
  width: 200px;
  border-radius: 200px/2;
  display: flex;
  justify-content: center;
  position: relative;
}
.clock__second, .clock__minute, .clock__hour, .clock__indicator {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  background: #ff0266;
  transform-origin: bottom center;
  z-index: 2;
  border-radius: 1px;
}
.clock__second {
  height: 90px;
  margin-top: 10px;
  background: #03dac6;
  -webkit-animation: time 60s infinite steps(60);
          animation: time 60s infinite steps(60);
  z-index: 3;
}
.clock__minute {
  height: 80px;
  margin-top: 20px;
  opacity: 0.75;
  -webkit-animation: time 3600s linear infinite;
          animation: time 3600s linear infinite;
}
.clock__hour {
  height: 60px;
  margin-top: 40px;
  -webkit-animation: time 43200s linear infinite;
          animation: time 43200s linear infinite;
}
.clock__indicator {
  height: 98px;
  border-top: 2px solid #4b9aaa;
  background: none;
}
.clock__indicator:nth-of-type(5n) {
  opacity: 1;
  height: 93px;
  border-top: 7px solid #f4eed7;
}
.clock__axis {
  background: #4b9aaa;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  z-index: 4;
  top: 97px;
}

@-webkit-keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

/* CARTAAAS*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}


.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(./images/adopweb.png);
}
.card:nth-child(2):before {
  background-image: url(./images/buscaminas.png);
}
.card:nth-child(3):before {
  background-image: url(./images/analizador.png);
}
.card:nth-child(4):before {
  background-image: url(./images/der.png);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: oblique;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  background-color: #0d0d0d;
  border-radius: 10px;
}
.btn:focus {
  outline: 1px dashed yellow;
  border-radius: 10px;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
